.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 14px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
 }
 
 button:hover {
  border: 1px solid rgb(0, 0, 0);
 }
 
 button:active {
  box-shadow: 4px 4px 12px #c5c5c5,
              -4px -4px 12px #ffffff;
 }

.empresas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
  width: 100%;
}

.employees {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 100%;
  padding: 8px;
  background-color: rgb(241, 241, 241);
  border-radius: 5%;
  margin-top: 9px;
  margin-left: -10px;
}

.employees p {
  margin: 0;
  margin-top: 4px;
}

.cardEmpresa {
  padding: 30px;
  box-shadow: 2px 2px 2px 2px rgb(121, 117, 117);
  width: 350px;
}

.titleEmpresa {
  text-decoration: none;
}

.centerTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
